doctype html
html
  head
    title Vishal Dance Academy
    block scripts 
    block style
  body
    nav#navbar
            ul
              div#logo 
                  img(src="https://source.unsplash.com/user/erondu/200x100")
                  |HDA
              li #[a#item(href="/") Home] 
              li #[a#item(href="/") About] 
              li #[a#item(href="/") Services] 
              li #[a#item(href="/") Class Info ] 
              li #[a#item(href="/contact") Contact Us] 
    block content
    footer#foot
       | Copyright &copy; 2020 VishalDanceAcademy.com  | All rights reserved

    